.outer {
    margin: auto;
    height: 300px;
    width: 400px;
    border: 2px solid black;
    position: relative;
    border-radius: 10px;
    background-color: white;

}

p {
    margin-left: 80px;
}

.in {
    margin-left: 80px;
    padding: 10px
}

#bt {
    margin-top: 20px;
    position: absolute;
    left: 150px;
    border-radius: 10px;
}

#bt:hover {
    background: green;
    font-size: 13px;
    cursor: pointer;
    color: white;
}

body {
    background-color: black;
}

#a {
    background-color: black;
    color: white;
}

#b {
    background-color: black;
    color: white;

}